<section class="section top-footer">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <span class="site-title">{{site.title}}</span> <span class="copyright">&copy;{{ "now"|date("Y") }}</span>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="list-inline social">
                    {% for item in social_menu.get_items %}
                        <li class="{{ item.classes | join(' ') }}">
                            <a href="{{ item.get_link }}" target="_blank">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<footer class="section bg-white secondary-footer">
    <div class="container">
        <div class="row">
            <nav class="nav-footer {{ nav_classes }}">
                <div class="col-sm-3">
                <span class="nav-title">Navigation</span><ul class="footer-nav">
                    {% for item in footer_menu.get_items|slice(0,4) %}
                        <li>
                            <a href="{{ item.get_link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}</ul>
                </div>
                <div class="col-sm-3"><br>
                    <ul class="footer-nav footer-nav-space">
                    {% for item in footer_menu.get_items|slice(4,8) %}
                        <li>
                            <a href="{{ item.get_link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}</ul>
                </div>
                <div class="col-sm-2 col-sm-offset-4 terms">
                    <a href="/privacy-policy/">Privacy Policy</a><br>
                    <a href="/terms/">Terms of Service</a><br>
                    <a href="/beta-feedback/">Beta Feedback</a>
                </div>
            </nav>
        </div>
    </div>
</footer>

